@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    outline: none;
    box-sizing: border-box;
}

body {
    margin: 8px;
    background-color: #080808;
    color: #eee;
    font-family: "Roboto", sans-serif;
}

a {
    color: #eee;
    text-decoration: none;
}

table:not(.property-table) {
    margin: 4px;
    border-collapse: collapse;
}

table:not(.property-table) caption {
    background-color: #353535;
    border-radius: 8px 8px 0 0;
    padding: 4px 0;
}

table:not(.property-table) tr:not(:last-of-type) {
    border-bottom: 1px solid #222;
}

table:not(.property-table) th {
    padding: 4px 16px;
    background-color: #222;
}

table:not(.property-table) td {
    background-color: #121212;
}

table:not(.property-table) thead:first-child th:first-of-type {
    border-top-left-radius: 8px;
}

table:not(.property-table) thead:first-child th:last-of-type {
    border-top-right-radius: 8px;
}

table:not(.property-table) tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 8px;
}

table:not(.property-table) tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 8px;
}

table:not(.property-table) td {
    padding: 4px 6px;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

section p a {
    text-decoration: underline;
}

select:hover,
button:hover,
input:hover,
a:hover,
.select:hover .expand-icon {
    transition: color 200ms, background-color 200ms, opacity 200ms, filter 200ms;
}

select,
button,
input {
    padding: 6px;
    border: 0;
    background-color: #222;
    color: #eee;
    font-size: 14px;
    border-radius: 4px;
}

select,
button,
input[type="submit"],
input[type="reset"],
input[type="checkbox"] {
    cursor: pointer;
}

select:hover,
button:hover,
input:hover,
.select:hover .expand-icon {
    background-color: #2a2a2a;
}

select:disabled,
button:disabled,
input:disabled,
.select.disabled .expand-icon {
    background-color: #111;
    cursor: not-allowed;
}

select:focus,
input:not([type="checkbox"]):focus,
.select select:focus ~ .expand-icon {
    background-color: #333333;
}

select:invalid,
input:not([type="checkbox"]):invalid,
.select select:invalid ~ .expand-icon {
    background-color: #331616;
}

select,
input[type="datetime-local"],
input[type="search"],
input[type="submit"],
input[type="reset"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 6px;
}

select {
    padding-right: 28px;
}

input[type="datetime-local"] {
    width: 200px;
    padding: 4px 6px;
}

input[type="number"] {
    width: 64px;
}

input[type="search"] {
    width: 256px;
}

input[type="text"] {
    width: 145px;
}

input.small {
    width: 120px;
}

.select {
    display: inline-flex;
    align-items: center;
}

.expand-icon {
    background-color: #222;
    padding: 2px 0;
    border-radius: 0 4px 4px 0;
    margin-left: -24px;
    pointer-events: none;
    position: relative;
}

.expand-icon::after {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-flex;
    z-index: 4;
    vertical-align: middle;
    background-image: url("/search/static/uwu9U.svg");
    filter: invert();
    pointer-events: none;
}

.label-tag {
    margin-left: 4px;
    padding: 2px;
    border-radius: 4px;
    background-color: #222;
    font-size: 0.75em;
    opacity: 0.5;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    font-size: 18px;

    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #2d2d2d;
    border-radius: 4px;
    transition: 0.1s;
}

.check-container:hover input ~ .checkmark {
    filter: brightness(75%);
}

.check-container input:disabled ~ .checkmark,
.check-container input:disabled ~ .checkmark ~ span {
    cursor: not-allowed;
    filter: brightness(50%);
}

input:disabled > .checkmark {
    filter: brightness(50%);
}

.check-container input:checked ~ .checkmark {
    background-color: #2d2d2d;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-container input:checked ~ .checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

header,
main {
    width: 60%;
    margin: auto;
}

@media (min-width: 1600px) {
    #info-panel {
        position: absolute;
        top: 10px;
        left: 10px;
        margin-top: 145px;
        width: calc(20% - 16px);
    }

    #info-panel.collapsed {
        display: none;
    }

    #info-panel table {
        width: calc(100% - 8px);
    }

    #info-panel #info > *:not(:last-child) {
        margin-bottom: 8px;
    }

    #info-panel table :is(th, td) {
        font-size: 12px;
    }
}

header > h1 {
    margin: 8px 0 0 0;
    font-size: 3em;
    font-weight: 500;
}

header > h1 img {
    height: 1em;
    margin-bottom: 6px;
    vertical-align: middle;
}

header > h2 {
    margin: -4px 0 0 62px;
    color: #aaa;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 1.2px;
}

header > h1 a:hover,
header > h2 a:hover {
    filter: drop-shadow(0 0 4px #ffffffa1);
}

header > h2 a {
    color: #aaa;
}

header nav {
    margin: 16px 0 32px 0;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: -4px;
}

header nav ul li a {
    padding: 8px;
    color: #7a7a7a;
}

header nav ul li a:hover {
    border-bottom: 4px solid #7a7a7a;
}

header nav ul li a.current {
    color: #eee;
    border-bottom: 4px solid #eee;
}

header form :is(select, button, input:not([type="submit"]):not([type="reset"]), .select) {
    height: 28px;
    min-height: 28px;
    max-height: 28px;
    min-width: 60px;
}

header form input[type="submit"],
header form input[type="reset"] {
    padding: 8px 16px;
    font-size: 1em;
}

header form input[type="reset"] {
    background-color: #151515;
    margin-right: 8px;
}

header form input[type="reset"]:hover {
    background-color: #1a1a1a;
}

header form fieldset {
    display: flex;
    flex-wrap: wrap;
}

header form fieldset .form-field {
    margin-right: 4px;
}

.form-field,
.form-field-inline {
    display: inline-block;
    margin: 4px 2px;
}

.form-field label {
    display: block;
    margin-bottom: 4px;
    font-size: 0.75em;
    font-weight: bold;
}

.panel {
    position: relative;
    margin: 14px 0 8px 0;
    padding: 8px;
    padding-top: 10px;
    border: 1px solid #555;
    border-radius: 8px;
}

.panel > .panel-header {
    position: absolute;
    top: -11px;
    left: 10px;
    margin: 0;
    color: #555;
    background-color: #080808;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel .panel-collapse {
    width: 10px;
    height: 10px;
    margin-bottom: 2px;
    margin-left: 4px;
    padding: 0;
    border: 1px solid #555;
    border-radius: 0;
    background-color: #555;
    font-size: 0;
    vertical-align: middle;
}

.panel.collapsed {
    opacity: 0.6;
}

.panel.collapsed > *:not(.panel-header) {
    display: none;
}

.panel.collapsed .panel-collapse {
    background-color: #080808;
}

.panel.collapsed:hover {
    opacity: 0.8;
}

.item {
    margin-top: 8px;
    padding: 8px;
    border: 1px solid #222;
    border-radius: 8px;
    background-color: #111;
}

.item.user-hidden-subreddit,
.item.user-hidden-author {
    display: none;
}

.item:first-child,
#items-panel .acting-first {
    margin-top: 0;
}

.item a:hover {
    text-decoration: underline;
}

.item .entry {
    display: inline-flex;
}

.item .thumbnail {
    min-width: 80px;
    margin: 0 8px -2px 0;
    background-color: #555;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.item .thumbnail.default {
    background-size: contain;
    filter: brightness(0.75);
}

.item.self .thumbnail.default {
    background-image: url("/search/static/5ZJFo.svg");
}

.item.link .thumbnail.default {
    background-image: url("/search/static/C6MIl.svg");
}

.item.nsfw .thumbnail.default {
    background-image: url("/search/static/BnnBQ.svg");
}

.item .thumbnail.image {
    background-size: cover;
}

.item.expandable .thumbnail:hover::after,
.item.deleted .thumbnail::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #000000a0;
    background-position: center;
    background-repeat: no-repeat;
}

.item.expandable .thumbnail:hover::after {
    cursor: pointer;
    background-image: url("/search/static/8pLXN.svg");
}

.item.deleted .thumbnail::after {
    background-image: url("/search/static/0LJ0L.svg");
}

.item.expandable:not(.expanded) .content {
    display: none;
}

body:not(.setting-dev) .item.expandable:not(.expanded) .buttons {
    margin-top: 0;
}

.item .title {
    font-size: 1em;
    margin: 4px 0;
    overflow-wrap: break-word;
}

.item .domain {
    margin-left: 8px;
    color: #888;
    font-size: 0.75em;
    font-weight: lighter;
}

.item .tagline {
    margin: 4px 0;
    color: #888;
    font-size: 0.75em;
}

.item .tagline a {
    color: #888;
    font-weight: bold;
}

.item .info {
    margin: 0;
    padding: 0;
    list-style: none;
}

.item .info li {
    display: inline;
    margin-right: 8px;
    border-radius: 4px;
    font-size: calc(1em - 4px);
}

.item .info li:not(.tag) {
    padding: 3px;
    background-color: #222;
}

.item .info .score::before,
.item .info .award-count::before,
.item .info .comment-count::before {
    content: "";
    height: 14px;
    width: 14px;
    display: inline-block;
    margin: -2px 4px 0 0;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
}

.item .info .score::before {
    background-image: url("/search/static/GkGDz.svg");
    width: 12px;
    height: 12px;
    filter: invert();
}

.item .info .comment-count::before {
    background-image: url("/search/static/t7b2R.svg");
    filter: invert();
}

.item .info .award-count::before {
    background-image: url("/search/static/cs4ja.svg");
}

.item .info .tag {
    padding: 2px;
    padding-right: 3px;
    border: 1px solid #eee;
}

.item .info .tag.nsfw {
    border-color: red;
    color: red;
}

.item .info .tag.distinguished,
.item .info .tag.stickied {
    border-color: green;
    color: green;
}

.item .info .tag.stickied {
    background-color: #00800036;
    font-weight: bold;
}

.item .info .tag.locked {
    border-color: gold;
    color: gold;
}

.item .info .tag.locked::before,
.item .info .tag.tag.distinguished::before,
.item .info .tag.tag.stickied::before,
.item .info .tag.spoiler::before,
.item .info .tag.nsfw::before,
.item .info .tag.removed::before,
.item .info .tag.deleted::before,
.item .info .tag.warn::before {
    content: "";
    height: 1em;
    width: 1em;
    display: inline-block;
    margin: -2px 2px 0 0;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
}

.item .info .tag.locked::before {
    background-image: url("/search/static/zf1rs.svg");
    filter: invert(90%) sepia(16%) saturate(6855%) hue-rotate(355deg) brightness(104%) contrast(106%);
}

.item .info .tag.distinguished::before {
    background-image: url("/search/static/4QPC1.svg");
    filter: invert(28%) sepia(100%) saturate(1216%) hue-rotate(92deg) brightness(93%) contrast(105%);
}

.item .info .tag.stickied::before {
    background-image: url("/search/static/73Gdy.svg");
    filter: invert(28%) sepia(100%) saturate(1216%) hue-rotate(92deg) brightness(93%) contrast(105%);
}

.item .info .tag.spoiler::before {
    background-image: url("/search/static/fU8YN.svg");
    filter: invert();
}

.item .info .tag.nsfw::before {
    background-image: url("/search/static/7UWw8.svg");
    filter: invert(34%) sepia(78%) saturate(6544%) hue-rotate(350deg) brightness(95%) contrast(135%);
}

.item .info .tag.removed::before {
    background-image: url("/search/static/160fn.svg");
    filter: invert();
}

.item .info .tag.deleted::before {
    background-image: url("/search/static/GjJjB.svg");
    filter: invert();
}

.item .info .tag.warn::before {
    background-image: url("/search/static/2dlg0.svg");
    filter: invert();
}

.item .content {
    margin-top: 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: #181818;
    word-wrap: break-word;
    overflow: auto;
}

.item .content.empty {
    display: none;
}

.item .content .md {
    max-height: 280px;
}

.item .content .md > :first-child {
    margin-top: 0;
}

.item .content .md > :last-child {
    margin-bottom: 0;
}

.item .content img,
.item .content video {
    max-width: 400px;
    max-height: 400px;
}

.item .content .gallery {
    display: flex;
    flex-wrap: wrap;
}

.item .content .gallery img {
    margin: 8px;
}

.item .content a {
    color: rgb(121, 162, 201);
}

.item .properties {
    margin-top: 8px;
}

.item .buttons {
    margin: 4px 0;
    padding: 0;
    list-style: none;
}

.item .buttons li {
    display: inline;
    margin-right: 8px;
    color: #888;
    font-size: 0.75em;
    font-weight: bold;
}

.item .buttons li a {
    color: #888;
}

.item .buttons .request-info a {
    color: #555;
}

.item > *:first-child {
    margin-top: 0;
}

.item > *:last-child {
    margin-bottom: 0;
}

.flair {
    margin-left: 4px;
    padding: 2px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #181818;
    color: #eee;

    font-size: 0.75em;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
    margin: 8px 0;
}

.md p {
    margin: 4px 0;
}

.md ul,
.md ol {
    margin: 8px;
    padding-left: 20px;
}

.md blockquote {
    padding: 4px;
    padding-left: 8px;
    border-left: 4px solid #aaa;
    background-color: #eeeeee0a;
}

.md pre {
    padding: 4px;
    padding-left: 8px;
    border-left: 4px solid #888;
    background-color: #eeeeee04;
}

.md :not(pre) code {
    padding: 2px 4px;
    background-color: #111;
    border: 1px solid #222;
    border-radius: 4px;
    font-size: calc(1em - 4px);
}

#info-panel #info table :is(tr.user-hidden-subreddit, tr.user-hidden-author) :is(a, td) {
    color: #444;
}

#request-table th {
    word-wrap: break-word;
}

#request-table tr th,
#request-table tr td {
    padding: 2px;
}

#request-table tr th:not(:last-child),
#request-table tr td:not(:last-child) {
    padding-right: 80px;
}

#request-table th {
    text-align: left;
}

#request-table tr td:nth-child(3) {
    text-align: center;
}

#request-table a {
    text-decoration: underline;
}

#banner {
    margin: 8px 0 0 0;
    padding: 8px;
    border: 1px solid #222;
    border-radius: 8px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

#items:empty ~ #banner {
    margin-top: 0;
}

#banner.failed {
    border-color: red;
    color: red;
    background-color: #2d0303;
}

#load-more-button {
    width: 100%;
    margin-top: 8px;
    padding: 9px;
    border-radius: 8px;
}

body:not(.setting-advanced) .advanced-option {
    display: none;
}

.status::before {
    content: "● ";
}

.status-pending {
    color: orange;
}

.status-2 {
    color: green;
}

.status-4,
.status-5,
.status-failed {
    color: red;
}

.highlighted {
    background-color: yellow;
    color: black;
}

.loading-icon {
    filter: invert();
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body:not(.setting-dev) .dev-option {
    display: none;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.center {
    text-align: center;
}

[hidden] {
    display: none !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #222;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 4px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

table.property-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

.property-table thead tr {
    background-color: #181818 !important;
}

.property-table tr:nth-child(even) {
    background-color: #111;
}

.property-table tr:nth-child(odd) {
    background-color: #151515;
}

.property-table tr:hover {
    background-color: #1d1d1d;
}

.property-table td {
    margin: 0;
    padding: 2px;
}

.property-table td:first-of-type {
    padding-right: 32px;
    font-weight: bold;
    white-space: nowrap;
}

.property-table td:nth-of-type(2) {
    width: 100%;
}

.property-table td:hover {
    outline: 1px solid #444;
}

.property .value a:hover {
    text-decoration: underline;
}

.property .value .color::before {
    content: "● ";
}

.property.expanded > .value {
    padding: 0;
}

.property.null {
    background-color: #181818;
    color: #888;
}

.property.null .key {
    text-decoration: line-through;
}

.property.string .key::after,
.property.number .key::after,
.property.boolean .key::after,
.property.object .key::after,
.property.array .key::after {
    margin-left: 4px;
    padding: 2px;
    border-radius: 2px;
    background-color: #181818;
    font-size: 8px;
    vertical-align: middle;
}

.property.string > .key::after {
    content: "string";
}

.property.number > .key::after {
    content: "number";
}

.property.boolean > .key::after {
    content: "boolean";
}

.property.object > .key::after {
    content: "object";
}

.property.array > .key::after {
    content: "array";
}

.property.null .value::before {
    content: "null";
}

.property.string.empty .value::before {
    content: "“”";
    color: #888;
}

.property.object.empty.expanded .value::before {
    content: "{}";
    padding: 2px;
    color: #888;
}

.property.array.empty.expanded .value::before {
    content: "[]";
    padding: 2px;
    color: #888;
}

.property.boolean .value::before {
    content: "● ";
}

.property.boolean.true .value {
    color: green;
}

.property.boolean.false .value {
    color: red;
}

@media (max-width: 1600px) {
    #info-panel #info > table {
        display: inline-block;
    }
}

@media (max-width: 1000px) {
    header,
    main {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 800px) {
    header,
    main {
        width: 100%;
        margin: auto;
    }

    header h1 {
        font-size: 2em;
    }

    header h2 {
        margin: 8px;
    }

    header form fieldset .form-field {
        flex-grow: 1;
    }

    header form fieldset .form-field > :is(input, select, button, .select) {
        width: 100%;
    }

    header form fieldset .form-field .select select {
        width: calc(100% - 2px);
    }

    header form .parameter-q {
        width: 100%;
    }
}
